<h1>Signup!</h1>

<dl class="dl-vertical">
<%= form_for :user, url: '/users' do |f| %>

  <dt>First Name:</dt>
  <dd><%= f.text_field :first_name %></dd>
  <dt>Last Name:</dt>
  <dd><%= f.text_field :last_name %></dd>
  <dt>Email:</dt>
  <dd><%= f.text_field :email %></dd>
  <dt>Password:</dt>
  <dd><%= f.password_field :password %></dd>
  <dt>Password Confirmation:</dt>
  <dd><%= f.password_field :password_confirmation %></dd><br>
  <%= f.submit "Submit", :class => 'btn btn-default' %>

<% end %>