<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="col-sm-8">
        <dl class="dl-vertical">
          <% if current_user %>
          <dt>Tell us what you think:</dt><br>
            <%= form_for([@product, @review]) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <p>
                <%= f.label :rating %><br>
                <%= f.select :rating, [['1','1'],['2','2'],['3','3'], ['4','4'], ['5','5'] ] %> &#9733;
              </p>
              <p>
                <%= f.label :description %><br>
                <%= f.text_area :description %>
              </p>
              <p>
                <%= f.submit :class => 'btn btn-default' %>
              </p>
            <% end %>
          <% end %>
          <br>

          <strong>All reviews for this product:</strong>
          <% @product.reviews.order('updated_at DESC').each do |review| %>
            <br>

            <div id="product_review">
              <%= review.rating %> &#9733;<br><br>
              <strong>#<%= review.id %></strong>:
              <%= review.description %>.<br>
            </div>
            <div id="del_button"> <% if review.user == current_user %>
              <%= link_to fa_icon('trash'),
                      [@product, review],
                      class: 'btn btn-sm btn-danger',
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
            <% end %>
            </div>
        <% end %>
        </dl>
      </div>
    </div>
  </article>
</section>
